<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <hr>
        <ion-list id="labels-list" *ngIf="!(this.session.isLogged$|async)">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/register']" lines="none" detail="false">
              <ion-icon slot="start" ios="person-add-outline" md="person-add-power-sharp"></ion-icon>
              <ion-label>Register</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/login']" lines="none" detail="false">
              <ion-icon slot="start" ios="power-outline" md="power-sharp"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="labels-list" *ngIf="this.session.isLogged$|async">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/profile']" lines="none" detail="false">
              <ion-icon slot="start" ios="person-outline" md="person-power-sharp"></ion-icon>
              <ion-label>{{ (this.session.tokenModel$|async).FirstName }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" ios="power-outline" md="power-sharp"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
